---
import { SEO } from 'astro-seo';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
}

const {
  title,
  description,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google Analytics -->
    <script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-8S869Z80N9"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-8S869Z80N9');
    </script>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: 'website',
          image: '',
        },
        optional: {
          description: description,
          siteName: 'Central Ohio Windows',
        },
      }}
      twitter={{
        card: 'summary',
        title: title,
        description: description,
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
